/* Chat */
#chat,
			html{
			height:100%;
			width:100%;
			top:0;
			left:0;
			position:fixed;
			background-size:100% 100%;
			z-index:99999;
			}
/* Form */
		form
		{
			text-align:center;
		}
			form label
			{
				display: block;
				text-align: left;
				margin-bottom: 0.5em;
			}
			form input[type="text"],
			form select,
			form textarea
			{
				position: relative;
				-webkit-appearance: none;
				display: inline-block;
				outline: 0;
				background: #fff;
				background: rgba(255,255,255,0.75);
				width: 50%;
				border-radius: 0.35em;
				padding: 0.75em 1em 0.75em 1em;
				box-shadow: inset 0 0.1em 0.1em 0 rgba(0,0,0,0.05);
				border: solid 1px rgba(0,0,0,0.15);
				-moz-transition: all 0.35s ease-in-out;
				-webkit-transition: all 0.35s ease-in-out;
				-o-transition: all 0.35s ease-in-out;
				-ms-transition: all 0.35s ease-in-out;
				transition: all 0.35s ease-in-out;
			}

				form input[type="text"],
				form select
				{
					line-height: 1.25em;
				}

				form input[type="text"]:focus,
				form select:focus,
				form textarea:focus
				{
					box-shadow: 0 0 2px 1px #8ebebc;
					background: #fff;
				}
				
				form textarea
				{
					min-height: 14em;
				}
				.button2 {
	position: relative;
				-webkit-appearance: none;
    display:inline-block;
	outline: 0;
    border:1px solid #f60;
    color:#fff;
	font-weight:bold;
    background-color: transparent;
    border-radius: 0.35em;
	padding: 0.50em 0.50em 0.50em 0.50em;
    line-height: 1.25em;
				-moz-transition: all 0.35s ease-in-out;
				-webkit-transition: all 0.35s ease-in-out;
				-o-transition: all 0.35s ease-in-out;
				-ms-transition: all 0.35s ease-in-out;
				transition: all 0.35s ease-in-out;
				margin-bottom: 0.75em;
				font-size:15px;
				width: 100px;
				text-shadow:#000 1px 1px;
				text-align:center;
}
.button2:hover{
    background-color:#f60;
    color:#000;
	font-weight:bold;
	text-shadow:#fff 1px 1px;
}
